.cabezera {
  background-color: #003165;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.titulo {
  font-size: 1.5rem;
}

.botones {
  background-color: #c33926;
  color: #fff;
}

.botones:hover {
  background-color: #003165;
  color: #fff;
}
